<div class="container">
  <div class="block">
    <h2 class="title"><%= @mechanic.name %></h2>
  </div>
  <div class="block">
    <% if @mechanic.orders.any? %>
      <% @mechanic.orders.each do |o| %>
        <div class="box">
          <%= render o %>
        </div>
      <% end %>
    <% else %>
      <div class="box">
        <p>Заказов нет</p>
      </div>
    <% end %>
  </div>
  <div class="buttons">
    <%= link_to "Назад", :back, class: "button" %>
</div>
