<div class="container">
  <div class="block">
    <h2 class="title">Информация о заказе</h2>
  </div>
  <div class="block box">
    <%= render @order %></p>
  </div>
  <div class="buttons">
    <%= link_to "Назад", :back, class: "button" %>
    <%= link_to "Редактировать", edit_order_path(@order), class: "button is-primary" %>
    <%= button_to "Удалить", @order, method: :delete, class: "button is-danger" %>
  </div>
</div>
