<div class="hero-body">
  <div class="container has-text-centered">
    <p class="title">Автосервис</p>
    <p class="subtitle mt-4">Приложение, позволяющее вести учёт заказов в автосервисе</p>
  </div>
</div>
