<div class="container">
  <div class="block">
    <h2 class="title"><%= @category.name %></h2>
  </div>
  <div class="buttons">
    <%= link_to "Назад", :back, class: "button" %>
  </div>
  <% if @services.any? %>
    <% @services.each do |s| %>
      <% s.orders.each do |o| %>
        <div class="box"><%= render o %></div>
      <% end %>
    <% end %>
  <% else %>
    <div class="box">
      <p>Заказов в данной категории еще нет<p>
    </div>
  <% end %>
</div>
