<% if flash.any? %>
  <div class="notification is-warning is-marginless is-radiusless">
    <% flash.each do |name, message| %>
      <%= content_tag :div, message %>
    <% end %>
  </div>
<% end %>
